<p>Welcome!  Please log in.</p>
<p>
  If you are new to <%= APPNAME %>,
  <a href="<%= Path::SIGNUP %>">create an account</a>.
</p>
<form method="post">
  <label><b>username</b>: <input name="username"/></label>
  <br/>
  <label><b>password</b>: <input type="password" name="password"/></label>
  <br/>
  <button>login</button>
</form>
