<p>Create an account to access <%= APPNAME %>.</p>
<form method="post">
  <label><b>username</b>: <input name="username"/></label>
  <br/>
  <label><b>password</b>: <input type="password" name="password"/></label>
  <br/>
  <label><b>verify password</b>: <input type="password" name="redundant_password"/></label>
  <br/>
  <button>sign up!</button>
</form>
